@import '_colorVariables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background: $color1;
  margin: 0;
  overflow: hidden;
  #app {
    font-family: 'Roboto';
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #mainHeader {
      text-align: center;
      width: 30vw;
      padding: 10px;
      color: rgb(255, 255, 255);
      border: solid 3px $color4;
      border-radius: 5px;
      background-color: rgb(0, 0, 0);
    }
    #searchContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background-color: $color2;
      border: solid 3px $color4;
      border-radius: 5px;
      width: 80vw;
      height: 10vw;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      margin-bottom: 10%;
      #searchForm {
        justify-content: center;
        justify-self: flex-end;
        width: 100%;
        #searchBar {
          text-align: center;
          width: 80%;
        }
        #submit {
          width: 20%;
          height: 10%;
          color: $color4;
        }
      }
    }
    #albumArtContainer {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 30vw;
      #leftDiv {
        background-color: $color2;
        min-width: 10vw;
        min-height: 10vw;
        border-radius: 50%;
        margin-right: 5vw;
      }
      #albumImg {
        :hover {
          transform: scale(1.1);
        }
        max-width: 30vw;
        max-height: 30vw;
      }
      #rightDiv {
        background-color: $color3;
        min-width: 10vw;
        min-height: 10vw;
        border-radius: 50%;
        margin-left: 5vw;
      }
    }
    #createdBy {
      margin-top: auto;
      margin-bottom: 5vh;
      background-color: lightgrey;
      border: solid 2px black;
      border-radius: 5px;
    }
  } //app
} //body
